<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.airtickets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.user.Authorization"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.RegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.user.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.user.BookingActivity" />
        <activity android:name=".activity.user.FlightActivity" />
        <activity android:name=".activity.user.ProfileActivity" />
        <activity android:name=".activity.user.EditProfileActivity" />
        <activity android:name=".activity.user.AllOrdersActivity" />
        <activity android:name=".activity.admin.AdminMenuActivity" />
        <activity android:name=".activity.admin.CreateFlightActivity" />
        <activity android:name=".activity.admin.ChooseFlightActivity" />
        <activity
            android:name=".activity.admin.CreateTicketActivity"
            android:label="@string/title_activity_create_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.admin.DeleteFlightActivity" />
        <activity android:name=".activity.admin.DeleteTicketActivity" />
        <activity android:name=".activity.admin.AllFlightsActivity" />
        <activity android:name=".activity.admin.AllTicketActivity" />
        <activity android:name=".activity.admin.AddClassActivity" />
        <activity android:name=".activity.admin.AddPlaneActivity" />
        <activity android:name=".activity.admin.AddAirportActivity" />
        <activity android:name=".activity.admin.AddCompanyActivity"></activity>
    </application>

</manifest>